@import './styling/navbar.css';

html,
body,
.App {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
}
